// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin warungikan {
  @include valo;

div:focus {
    outline: 0 !important;
}  
  &.v-app {
    background-color: white;
  }
  .white-background{
  	background-color: white;
  }
  .fitem-component {
	  padding: 4px;
	  margin-bottom: 20px;
	  line-height: 1.42857143;
	  background-color: #fff;
	  border: 1px solid #ddd;
	  border-radius: 4px;
	  -webkit-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
	}

	.product-container{
	  background-color: #f5f5f5;
	  border: 1px solid #e3e3e3;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);		
	}
	
	.cart-custom{
		padding:0px;
	}
	.cart-custom:focus:after{
		border: none;
		box-shadow: none;
	}
	.cincrement-label{
		background-color:#f16868;
		font-weight:bold;
		color:white;
		width:15px;
		right:5px;
		text-align:center;
		font-size:12px;
		border-radius:4px;
		position:absolute;
	}
	.color-red{
		color:red;
	}
	.color-green{
		color:green;
	}
	.color-orange{
		color:orange;
	}
	.v-progressbar.pb-center-align{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.cart-button{
		border: 1px solid #e4e4e4;
		padding: 7px 0px;
		text-align: center;
		color:#197de1;
		-webkit-transition-duration:0.3s;
		transition-duration:0.3s;
		-webkit-transition-timing-function:ease-out;
		transition-timing-function:ease-out;
	}
	.cart-button:hover{
		cursor:pointer;
		background-color:#197de1;
		color:white;
		border:1px silid transparent;
	}
}
